
<%-include('../users/layouts/header.ejs') %>
<%-include('../users/layouts/navBar.ejs') %>

    <!--================Home Banner Area =================-->
    <!-- breadcrumb start-->
    <!-- <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Shop Category</h2>
                            <p>Home <span>-</span> Shop Category</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    breadcrumb start -->

    <!--================Category Product Area =================-->
    <!-- <section class="cat_product_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Browse Categories</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                 
                                </ul>
                            </div>
                        </aside>   -->

                        <!-- <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Product filters</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <a href="#">Apple</a>
                                    </li>
                                    <li>
                                        <a href="#">Asus</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Gionee</a>
                                    </li>
                                    <li>
                                        <a href="#">Micromax</a>
                                    </li>
                                    <li>
                                        <a href="#">Samsung</a>
                                    </li>
                                </ul>
                                <ul class="list">
                                    <li>
                                        <a href="#">Apple</a>
                                    </li>
                                    <li>
                                        <a href="#">Asus</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Gionee</a>
                                    </li>
                                    <li>
                                        <a href="#">Micromax</a>
                                    </li>
                                    <li>
                                        <a href="#">Samsung</a>
                                    </li>
                                </ul>
                            </div>
                        </aside> -->
                        <!-- <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Price Filters</h3>
                        
                            <ul>
                
                                <li class="p-b-6">
                                    <% if(maxPrice==499){ %>
                                    <p><a href="?minPrice=0&maxPrice=499&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                            style="color:#f44072;">₹0 - ₹499</a></p>
                                    <% }else{ %>
                                    <p><a href="?minPrice=0&maxPrice=499&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                            style="color: #636363;">₹0 - ₹499</a></p>
                                    <% } %>
                                    <% if(maxPrice==999){ %>
                                    <p><a href="?minPrice=500&maxPrice=999&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                            style="color:#f44072;">₹500 - ₹999</a>
                                    </p>
                                    <% }else{ %>
                                    <p><a href="?minPrice=500&maxPrice=999&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                            style="color: #636363;">₹500 - ₹999</a>
                                    </p>
                                    <% } %>
                                    <% if(maxPrice==1999){ %>
                                    <p><a href="?minPrice=1000&maxPrice=1999&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                            style="color:#f44072;">₹1000 - ₹1999</a></p>
                                    <% }else{ %>
                                    <p><a href="?minPrice=1000&maxPrice=1999&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                            style="color: #636363;">₹1000 - ₹1999</a></p>
                                    <% } %>
                                    <% if(maxPrice==4999){ %>
                                    <p><a href="?minPrice=2000&maxPrice=4999&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                            style="color:#f44072;">₹2000 - ₹4999</a></p>
                                    <% }else{ %>
                                    <p><a href="?minPrice=2000&maxPrice=4999&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                            style="color: #636363;">₹2000 - ₹4999</a></p>
                                    <% } %>
                                    <% if(minPrice==5000){ %>
                                    <p><a href="?minPrice=5000&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                            style="color:#f44072;">₹5000+</a>
                                    </p>
                                    <% }else{ %>
                                    <p><a href="?minPrice=5000&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                            style="color: #636363;">₹5000+</a>
                                    </p>
                                    <% } %>
                                </li>
                            </ul>
                        </div>
                           
                        </aside> -->

                        <!-- <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Color Filter</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <a href="#">Black</a>
                                    </li>
                                    <li>
                                        <a href="#">Black Leather</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Black with red</a>
                                    </li>
                                    <li>
                                        <a href="#">Gold</a>
                                    </li>
                                    <li>
                                        <a href="#">Spacegrey</a>
                                    </li>
                                </ul>
                            </div>
                        </aside> -->
                        <!-- <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3> Sort:</h3>

                                <% if(sortValue&&sortValue==3) {%>
                                <a href="?sortValue=3&category=<%=category%>&brand=<%=brand%>&minPrice=<%=minPrice%>&maxPrice=<%=maxPrice%>&search=<%=search%>" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
                                    style="color:#f44072;">
                                    Latest
                                </a><br>
                                <%}else{%>
                                    <a href="?sortValue=3&category=<%=category%>&brand=<%=brand%>&minPrice=<%=minPrice%>&maxPrice=<%=maxPrice%>&search=<%=search%>" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
                                        style="color: #636363;">
                                        Latest
                                    </a><br>
                
                                <%}%>
                                <% if(sortValue&&sortValue==2) {%>
                                <a href="?sortValue=2&category=<%=category%>&brand=<%=brand%>&minPrice=<%=minPrice%>&maxPrice=<%=maxPrice%>&search=<%=search%>" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                    Price Low to High
                                </a><br>
                                <%}else{%>
                                    <a href="?sortValue=2&category=<%=category%>&brand=<%=brand%>&minPrice=<%=minPrice%>&maxPrice=<%=maxPrice%>&search=<%=search%>" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
                                        style="color: #636363;">
                                        Price Low to High
                                    </a><br>
                
                               <% }%>
                               <% if(sortValue&&sortValue==1) {%>
                                <a href="?sortValue=1&category=<%=category%>&brand=<%=brand%>&minPrice=<%=minPrice%>&maxPrice=<%=maxPrice%>&search=<%=search%>" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                    Price High to Low
                                </a><br>
                            <%}else{%>
                                <a href="?sortValue=1&category=<%=category%>&brand=<%=brand%>&minPrice=<%=minPrice%>&maxPrice=<%=maxPrice%>&search=<%=search%>" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
                                    style="color: #636363;">
                                    Price High to Low
                                </a><br>
                           <% }%>
                
                                
                        </div>
                    
                           
                    </aside> -->
<!-- 
                        <aside class="left_widgets p_filter_widgets price_rangs_aside">
                            <div class="l_w_title">
                                <h3>Price Filter</h3>
                            </div>
                            <div class="widgets_inner">
                                <div class="range_item">
                                    <div id="slider-range">
                                    <input type="text" class="js-range-slider" value="" />
                                    <div class="d-flex">
                                        <div class="price_text">
                                            <p>Price :</p>
                                        </div>
                                        <div class="price_value d-flex justify-content-center">
                                            <input type="text" class="js-input-from" id="amount" readonly />
                                            <span>to</span>
                                            <input type="text" class="js-input-to" id="amount" readonly />
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product_top_bar d-flex justify-content-between align-items-center">
                                <div class="single_product_menu">
                                    <p><span>10000 </span> Prodict Found</p>
                                </div> -->
                                <!-- <div class="single_product_menu d-flex">
                                    <h5>short by : </h5>
                                    <select>
                                        <option data-display="Select">name</option>
                                        <option value="1">price</option>
                                        <option value="2">product</option>
                                    </select>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        short by :
                                    </button>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item" href="#">Name</a>
                                      <a class="dropdown-item" href="#">Price</a>
                                      <a class="dropdown-item" href="#">Product</a>
                                      <div class="dropdown-divider"></div>  
                                    </div>
                                  </div>
                                <div class="single_product_menu d-flex">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="search"
                                            aria-describedby="inputGroupPrepend">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend"><i
                                                    class="ti-search"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  -->

                    <!-- <div class="row align-items-center latest_product_inner">
                        <% if (product) { %>
                            <% for (let i = 0; i < product.length; i++) { %>
                              <div class="col-lg-4 col-sm-6">
                                <div class="single_product_item">
                                <a href="/productDetails/<%= product[i]._id%>">
                                  <img  src="/static/adminAssets/images/products/<%=product[i].images[0]%>" alt="<%=product[i].images[0]%>">
                                </a>
                                  <div class="single_product_text">
                                    <h4><%= product[i].productName %></h4>
                                    <h3>₹<%= product[i].price %></h3>
                                    <h3 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color:#f44072"><%= product[i].category.name%></h3>
                                    <a href="" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                  </div>
                                </div>
                              </div>
                            <% } %>
                          <% } else { %>
                            <p>No products found.</p>
                          <% } %> -->
                        
                        <!-- <div class="col-lg-12">
                            <div class="pageination">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <i class="ti-angle-double-left"></i>
                                            </a>
                                        </li>
                                        <% for (let i=1; i <=pages; i++) { %>
                                        <li class="page-item" <%= currentPage === 1 ? 'disabled' : '' %>">
                                            <a class="page-link" href="/products?page=<%= currentPage - 1 %>">
                                                <%= i %>
                                            </a>
                                        </li>
                                        <% } %>  -->
                                        <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                                        <li class="page-item"><a class="page-link" href="#">6</a></li> -->
                                       
                                             <!-- <li class="page-item" <%= currentPage === pages ? 'disabled' : '' %>">
                                                <a class="page-link" href="/products?page=<%= currentPage + 1 %>" aria-label="Next">
                                                    <i class="ti-angle-double-right"></i>
                                                </a>
                                            </li>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--================End Category Product Area =================-->

    <!-- product_list part start-->
    <!-- <section class="product_list best_seller">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>Best Sellers <span>shop</span></h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-12">
                    <div class="best_product_slider owl-carousel">
                        <div class="single_product_item">
                            <img src="img/product/product_1.png" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="img/product/product_2.png" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="img/product/product_3.png" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="img/product/product_4.png" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="img/product/product_5.png" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- product_list part end-->


    	<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Shop</h1>
							</div>
						</div>
						<div class="col-lg-7">
							
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

        <!-- search-->

          <div class="dis-none panel-search w-full p-t-10 p-b-10" id="search-prdct">
            <form class="d-flex" role="search">
                <!-- <i class="fa-sharp fa-solid fa-magnifying-glass fa-2xl" style="margin-top: 27px;margin-left: 10px;"></i> -->
                <input class="form-control me-2 w-100 " type="search" placeholder="Search" name="search" aria-label="Search" style="background-color:#bae9e6;color:rgb(1, 1, 2)">
              </form>
          </div>
           <!-- Filter --> 
           <div class="dis-none panel-filter w-full p-t-10">
            <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
        </div>


        <div class="untree_co-section product-section before-footer-section">
		    <div class="container-product">
                <div class="row">
                    <div class="filter-container col-lg-3">
                        <div class="left_sidebar_area">
                            <aside class="left_widgets p_filter_widgets">
                                <div class="filter-col1 p-r-15 p-b-27">
                                    <div class="mtext-102 cl2 p-b-15">
                                        Categories
                                    </div>
                                    <ul>
                                        <%catData.forEach((cat)=>{%>
                        
                                        <li class="p-b-6">
                                            <% if(category==cat._id) { %>
                                            <a href="?category=<%=cat._id%>&sortValue=<%=sortValue%>&brand=<%=brand%>&minPrice=<%=minPrice%>&maxPrice=<%=maxPrice%>&search=<%=search%>"
                                                style="color:#f44072;">
                                                <%=cat.name %>
                                            </a>
                                            <% } else { %>
                                            <a href="?category=<%=cat._id%>&sortValue=<%=sortValue%>&brand=<%=brand%>&minPrice=<%=minPrice%>&maxPrice=<%=maxPrice%>&search=<%=search%>"
                                                style="color: #636363;">
                                                <%=cat.name %>
                                            </a>
                                            <% } %>
                                        </li>
                                        <% })%>
                                    </ul>
                                </div>
                            <div class="l_w_title">
                                <h3>Price Filters</h3>
                        
                            <ul>
                                <li class="p-b-6">
                                    <% if(maxPrice==499){ %>
                                    <p><a href="?minPrice=0&maxPrice=499&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                            style="color:#f44072;">₹0 - ₹499</a></p>
                                    <% }else{ %>
                                    <p><a href="?minPrice=0&maxPrice=499&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                            style="color: #636363;">₹0 - ₹499</a></p>
                                    <% } %>
                                    <% if(maxPrice==999){ %>
                                    <p><a href="?minPrice=500&maxPrice=999&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                            style="color:#f44072;">₹500 - ₹999</a>
                                    </p>
                                    <% }else{ %>
                                    <p><a href="?minPrice=500&maxPrice=999&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                            style="color: #636363;">₹500 - ₹999</a>
                                    </p>
                                    <% } %>
                                    <% if(maxPrice==1999){ %>
                                    <p><a href="?minPrice=1000&maxPrice=1999&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                            style="color:#f44072;">₹1000 - ₹1999</a></p>
                                    <% }else{ %>
                                    <p><a href="?minPrice=1000&maxPrice=1999&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                            style="color: #636363;">₹1000 - ₹1999</a></p>
                                    <% } %>
                                    <% if(maxPrice==4999){ %>
                                    <p><a href="?minPrice=2000&maxPrice=4999&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                            style="color:#f44072;">₹2000 - ₹4999</a></p>
                                    <% }else{ %>
                                    <p><a href="?minPrice=2000&maxPrice=4999&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                            style="color: #636363;">₹2000 - ₹4999</a></p>
                                    <% } %>
                                    <% if(minPrice==5000){ %>
                                    <p><a href="?minPrice=5000&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                            style="color:#f44072;">₹5000+</a>
                                    </p>
                                    <% }else{ %>
                                    <p><a href="?minPrice=5000&sortValue=<%=sortValue%>&category=<%=category%>&brand=<%=brand%>&search=<%=search%>"
                                            style="color: #636363;">₹5000+</a>
                                    </p>
                                    <% } %>
                                </li>
                            </ul>
                        </div>
                           
                        </aside>
                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3> Sort:</h3>
        
                                <% if(sortValue&&sortValue==3) {%>
                                <a href="?sortValue=3&category=<%=category%>&brand=<%=brand%>&minPrice=<%=minPrice%>&maxPrice=<%=maxPrice%>&search=<%=search%>" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
                                    style="color:#f44072;">
                                    Latest
                                </a><br>
                                <%}else{%>
                                    <a href="?sortValue=3&category=<%=category%>&brand=<%=brand%>&minPrice=<%=minPrice%>&maxPrice=<%=maxPrice%>&search=<%=search%>" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
                                        style="color: #636363;">
                                        Latest
                                    </a><br>
                
                                <%}%>
                                <% if(sortValue&&sortValue==2) {%>
                                <a href="?sortValue=2&category=<%=category%>&brand=<%=brand%>&minPrice=<%=minPrice%>&maxPrice=<%=maxPrice%>&search=<%=search%>" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                    Price Low to High
                                </a><br>
                                <%}else{%>
                                    <a href="?sortValue=2&category=<%=category%>&brand=<%=brand%>&minPrice=<%=minPrice%>&maxPrice=<%=maxPrice%>&search=<%=search%>" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
                                        style="color: #636363;">
                                        Price Low to High
                                    </a><br>
                
                               <% }%>
                               <% if(sortValue&&sortValue==1) {%>
                                <a href="?sortValue=1&category=<%=category%>&brand=<%=brand%>&minPrice=<%=minPrice%>&maxPrice=<%=maxPrice%>&search=<%=search%>" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                    Price High to Low
                                </a><br>
                            <%}else{%>
                                <a href="?sortValue=1&category=<%=category%>&brand=<%=brand%>&minPrice=<%=minPrice%>&maxPrice=<%=maxPrice%>&search=<%=search%>" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
                                    style="color: #636363;">
                                    Price High to Low
                                </a><br>
                           <% }%>
                
                                
                        </div>
                    
                           
                    </aside>
                </div>
            </div>
		      		<!-- Start Column 1 -->
                      <% if (product) { %>
                        <% for (let i = 0; i < product.length; i++) { %>
                            <div class="col-12 col-md-4 col-lg-3 mb-5">
                                <% if(product[i].offer ) { %>
                                    <div class="discount-badge"style="background-color: #ff5733; color: #f8f8f8; padding: 5px; position: absolute; z-index: 1; width: 74px;">
                                        <span class="stext-103 size-102">
                                            <%= product[i].offer.discount %> % OFF
                                        </span>
                                    </div>
                                <% } %>
                                <a class="product-item" href="/productDetails/<%= product[i]._id %>">
                                    <img src="/static/adminAssets/images/products/<%= product[i].images[0] %>" alt="<%= product[i].images[0] %>" class="img-fluid product-thumbnail">
                                    <h3 class="product-title"><%= product[i].productName %></h3>
                                    <% if(product[i].offer && product[i].offer.discount > 0) { %>
                                        <div class="d-flex">
                                            <span class="stext-105 cl3">
                                                <del>₹ <%= product[i].price %></del>
                                            </span>
                                            <span class="stext-105 cl3" style="margin-left: 130px;">
                                                <p class="text-danger">₹ <%= product[i].discountedPrice %></p>
                                            </span>
                                        </div>
                                    <% } else { %>
                                        <span class="stext-105 cl3">₹ <%= product[i].price %></span>
                                    <% } %>
                                    <span class="icon-cross">
                                        <!-- <img src="/static/userAssets/img/cross.svg" class="img-fluid"> -->
                                        <i class="fa-solid fa-plus fa-rotate-90 fa-2xl" style="color: #ffffff;margin-top: 45%;"></i>
                                    </span>
                                </a>
                            </div> 
                        <% } %>
                    <% } else { %>
                        <p>No products found.</p>
                    <% } %>
                    
                    
					<!-- End Column 1 -->
                
		      	</div>
                  <div class="col-lg-12">
                    <div class="pageination">
                          <nav aria-label="Page navigation example" class="my-3">
                            <ul class="pagination justify-content-center">
                                <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                                    <a class="page-link" href="/products?page=<%= currentPage - 1 %>&sortValue=<%= sortValue %>&category=<%= category %>&brand=<%= brand %>&minPrice=<%= minPrice %>&maxPrice=<%= maxPrice %>&search=<%= search %>" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                        
                                <% for (let i = 1; i <= pages; i++) { %>
                                    <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                        <a class="page-link" href="/products?page=<%= i %>&sortValue=<%= sortValue %>&category=<%= category %>&brand=<%= brand %>&minPrice=<%= minPrice %>&maxPrice=<%= maxPrice %>&search=<%= search %>">
                                            <%= i %>
                                        </a>
                                    </li>
                                <% } %>
                        
                                <li class="page-item <%= currentPage === pages ? 'disabled' : '' %>">
                                    <a class="page-link" href="/products?page=<%= currentPage + 1 %>&sortValue=<%= sortValue %>&category=<%= category %>&brand=<%= brand %>&minPrice=<%= minPrice %>&maxPrice=<%= maxPrice %>&search=<%= search %>" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        
                        
                            </ul>
                        </nav>
                    </div>
                </div>
		    </div>
		</div>
    <%-include('../users/layouts/footer.ejs') %>